<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>На сегодня хватит</title>
    <link rel="stylesheet" href="/css/style.css?v=2">
</head>
<body>
<div class="exit-container">
    <div class="exit-icon">↵</div>
    <h1 class="exit-title">На сегодня хватит!</h1>
    <p class="exit-text">Отличная работа! Теперь передохнем. Возвращайтесь, когда будете готовы узнать больше!</p>
    <a href="/" class="home-btn">На главное меню</a>
</div>
</body>
</html>